#grid-news {
  display: grid;
  column-gap: 50px;
}

#individual-news {
  color: brown;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;

  #news-title {
    color: red;
    font-size: 15px;
  }

  #news-author {
    color: darkslategrey;
    font-size: 15px;
  }

  #news-score {
    color: darkviolet;
    font-size: 15px;
  }

  #news-time {
    color: green;
    font-size: 15px;
  }

  #news-url {
    color: coral;
    font-size: 15px;
  }
}
