@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

#banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;

  #banner-container-left {
    width: 100% !important;
    position: relative;
    text-align: center;
    font-family: "Inter", sans-serif;

    #banner-container-left-caption {
      width: 100%;
      background-color: #c0e7f0;
      color: #373426;
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: absolute;
      bottom: 4px;
      font-size: 12px !important;
    }
  }

  #banner-container-right {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #f3f3f0;
    font-family: "Inter", sans-serif;

    #banner-container-right-title {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-top: 5px solid #1e1e1e;

      background-color: #f3f3f0;
      font-weight: bold;
    }

    #banner-container-right-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-top: 0.5px solid #1e1e1e;
      font-weight: lighter;

      #banner-container-right-author {
        color: #0e4f97;
      }
    }
  }
}

#banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  #banner-container {
    display: flex;
    padding-left: 15rem;
    padding-right: 20rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;

    #banner-container-left {
      width: 60% !important;
      position: relative;
      text-align: center;
      font-family: "Inter", sans-serif;

      #banner-container-left-caption {
        width: 100%;
        background-color: #c0e7f0;
        color: #373426;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        bottom: 4px;
        font-size: 12px !important;
      }
    }

    #banner-container-right {
      width: 40% !important;
      margin-left: 1rem !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #f3f3f0;
      font-family: "Inter", sans-serif;

      #banner-container-right-title {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 5px solid #1e1e1e;
        width: 100%;
        background-color: #f3f3f0;
        font-weight: bold;
      }

      #banner-container-right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 0.5px solid #1e1e1e;
        width: 100%;
        background-color: #f3f3f0;
        font-weight: lighter;

        #banner-container-right-author {
          color: #0e4f97;
        }
      }
    }
  }

  #banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1280px) {
  #banner-container {
    display: flex;
    padding-left: 15rem;
    padding-right: 20rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;

    #banner-container-left {
      width: 60% !important;
      position: relative;
      text-align: center;
      font-family: "Inter", sans-serif;

      #banner-container-left-caption {
        width: 100%;
        background-color: #c0e7f0;
        color: #373426;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        bottom: 4px;
        font-size: 12px !important;
      }
    }

    #banner-container-right {
      width: 40% !important;
      margin-left: 1rem !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #f3f3f0;
      font-family: "Inter", sans-serif;

      #banner-container-right-title {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 5px solid #1e1e1e;
        width: 100%;
        background-color: #f3f3f0;
        font-weight: bold;
      }

      #banner-container-right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 0.5px solid #1e1e1e;
        width: 100%;
        background-color: #f3f3f0;
        font-weight: lighter;

        #banner-container-right-author {
          color: #0e4f97;
        }
      }
    }
  }

  #banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
